<mat-card>
  <mat-card-header>
    <mat-card-title>{{ userName$ | async }}</mat-card-title>
    <mat-card-subtitle>Todo List</mat-card-subtitle>
  </mat-card-header>
  <ng-container *ngIf="(todos$ | async)?.length">
    <mat-form-field appearance="fill">
      <mat-label>Search todo:</mat-label>
      <input matInput
             placeholder="Start typing..."
             #filter>
    </mat-form-field>
  </ng-container>
  <mat-card-content *ngIf="filteredTodos$ | async as todoList">
    <ng-container *ngIf="todoList.length;else emptyListTemplate">
      <mat-list #todos
                role="list"
                [@filterAnimation]="todosTotal">
        <mat-list-item role="listitem"
                       class="item"
                       *ngFor="let item of todoList">
          <cmp-todo-item [item]="item"></cmp-todo-item>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-template #emptyListTemplate>
      <span>It seems there is no TODO yet...</span>
    </ng-template>
  </mat-card-content>
</mat-card>
