.notification-body {
  width: 400px;
  height: 100px;
  background: chocolate;
  margin: 0 auto;
  padding: 10px;
  border-radius: 2%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .actions-btns {
    display: flex;
    justify-content: center;
  }

}

.text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14pt;
  color: white;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
