<mat-card>
  <button mat-button (click)="showPanel($event)">
    <mat-icon>add_circle_outline</mat-icon>
    <span>Create TODO</span>
  </button>
  <div class="menu-wrapper">
    <button mat-icon-button
            [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
              [disabled]="!(isAdmin$ | async)"
              [routerLink]="'users'">
        <mat-icon>people</mat-icon>
        <span>Users</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-card>
