  .notification-body {
    width: 200px;
    height: 50px;
    background: chocolate;
    margin: 0 auto;
    padding: 10px;
    border-radius: 2%;
    display: flex;
    justify-content: space-between;

    mat-icon {
      cursor: pointer;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      &:active {
        font-size: 99%;
        opacity: 0.7;
      }
    }

    .text {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14pt;
      color: white;

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
