/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.host {
  position: absolute;
  display: flex;
  align-content: flex-end;
  height: 100%;
  width: 100%;
  z-index: 9;
  top: 0;
  justify-content: center;
  align-items: flex-end
}
